/* =====================================
*Fonts-used
===================================== */
@font-face {
    font-family: 'Ganesh';
    src: url('../webfonts/NotoSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


/* =====================================
*BODY
===================================== */
body {
    background: #E4E4E0;
    font-family: 'Ganesh', sans-serif;
    max-width: 1920px;
    max-height: 1080px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.body_div {
    margin-left: 30px;
    margin-right: 10px;
}

/* =========================
*Header
============================= */
.heading_top {
    background-color: #E4E4E0;
    color: blue;
}

.welcome-message-red {
    color: red;
    font-size: 1.3em;
}

.welcome-message {
    font-size: 1.3em;
}

.welcome-message-green {
    color: green;
    font-size: 1.3em;
}

.welcome-info {
    font-size: 0.9em;
}

.contact-info-div {
    padding-right: 40px;
    padding-top: 10px;

}

.heading-waving_img {
    padding: 15px 0;
    position: absolute;
    right: 0;
}

.any_headline_span {
    text-decoration: underline;
}

.samachar_div {
    margin-left: 20px;
    font-size: 1.4em;
    color: white;
    background-color: #3a79d1;
}

.for_jumbotron {
    height: 100%;
    color: black;
}


.manage_para-gaupalika {
    font-size: 1.2em;

}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
}


.manage_marquee {
    font-size: 1.3em;
}

.photogal_div {
    margin-top: 6px;
    max-height: 450px;
    max-width: 100%;
}

.janapratinidhi_div {
    max-width: 100%;
    height: 380px;
    padding: 0;
    margin: 0;
}


.sewa_div {
    max-height: 430px;

}

.third_element_thirdrow {
    margin: 2px 0;
    height: 220px;
    font-size: 1rem;
}

.jana_pratinidhi {
    height: 380px;
}


.suchana_para {
    font-size: 1em;
    background: #fff;
}

.manage_suchana_height {
    max-height: 900px;
}

.para_height_suchana {
    text-align: left;
    padding-top: 20px;
    height: 125px;
}

.heading_height_suchana {
    font-size: 1.6em;
}