body {
    background: #E4E4E0;
    /*IF YOU REALLY WANT TO FORCE THE ISSUE*/
    font-family: 'Yantramanav', sans-serif;
      max-width: 1920px;
    max-height: 1080px;
    }



.heading_top {
    background-color: #E4E4E0;
    color: blue;
}

.welcome-message-red {
    color: red;
    font-size: 1.3em;
}

.welcome-message {
    font-size: 1.3em;
}

.welcome-message-green {
    color: green;
    font-size: 1.3em;
}

.welcome-info {
    font-size: 0.9em;
}

.contact-info-div {
    padding-right: 40px;
    padding-top: 10px;

}

.any_headline_span {
    text-decoration: underline;
}

.span_ghatana_tatha_samachar {}

.samachar_div {
    font-size: 1.3em;
    color: white;
    background-color: #3a79d1;
}

.for_jumbotron {
    height: 100%;
    color: black;
}

.suchana_div {
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    background: #434259;

}

.manage_para {
    font-size: 0.9em;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
}

.sewa_div {
    max-height: 446px;
}

.photogal_div {
    max-height: 450px;
    max-width: 100%;
}

.janapratinidhi_div {
    max-width: 100%;
    height: 330px;
}

.suchana_para{
    background: #fff;
}
.second_element_thirdrow{
    height: 80px;
}
.third_element_thirdrow{
    margin-top: 30px;
   height: 330px;
}
.for_clock{
    height: 80px;
    width: 100%;
    background: #fff;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000;
    font-size: 1.3em;
    font-family: Orbitron;
    letter-spacing: 7px;